* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  width: 100%;
  height: 550px;
}

.game {
  position: relative;
  width: 200px;
  height: 400px;
  background-color: #f2faff;
  border: 1px solid blue;
  top: 10px;
  left: 10px;
}

.next{
  width: 80px;
  height: 80px;
  background-color: #f2faff;
  position: absolute;
  top: 10px;
  left: 250px;
  border: 1px solid blue;
}

.info{
  position: absolute;
  top: 100px;
  left: 250px;
}

.none, .current, .done {
  width: 20px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
}

.none{
  background-color: #f2faff;
}

.current {
  background-color: pink;
  border: 1px solid red;
}

.done {
  background-color: gray;
  border: 1px solid black;
}